---
- name: Add RPM Fusion GPG keys
  ansible.builtin.rpm_key:
    key: "{{ item }}"
  become: true
  loop:
    - https://rpmfusion.org/keys?action=AttachFile&do=get&target=RPM-GPG-KEY-rpmfusion-free-fedora-2020
    - https://rpmfusion.org/keys?action=AttachFile&do=get&target=RPM-GPG-KEY-rpmfusion-nonfree-fedora-2020

- name: Add third party repositories
  ansible.builtin.dnf:
    name:
      - "https://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ ansible_distribution_major_version }}.noarch.rpm"
      - "https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ ansible_distribution_major_version }}.noarch.rpm"
      - fedora-workstation-repositories
  become: true

- name: Install DNF plugins
  ansible.builtin.dnf:
    name:
      - dnf-automatic
  become: true

- name: Install dnf-automatic configuration
  ansible.builtin.copy:
    dest: /etc/dnf/automatic.conf
    src: automatic.conf
    mode: "0644"
  become: true

- name: Enable DNF automatic timer
  ansible.builtin.systemd:
    name: dnf-automatic.timer
    enabled: true
    state: started
  become: true
