---
- name: Enable Google Chrome YUM repository
  community.general.ini_file:
    path: /etc/yum.repos.d/google-chrome.repo
    section: google-chrome
    option: enabled
    value: "1"
    mode: "0644"
  become: true

- name: Install Google Chrome
  ansible.builtin.dnf:
    name:
      - google-chrome-stable
  become: true
