---
- name: Get geckodriver release information
  ansible.builtin.uri:
    url: https://api.github.com/repos/mozilla/geckodriver/releases/latest
    headers:
      Accept: application/vnd.github.v3+json
  register: geckodriver_release

- name: Download geckodriver
  ansible.builtin.get_url:
    url: "{{ geckodriver_release.json | json_query('assets[*].browser_download_url') | select('match', '^.*-linux64\\.tar\\.gz$') | first }}"
    dest: "{{ cache_dir }}/"
  register: geckodriver

- name: Extract geckodriver
  ansible.builtin.unarchive:
    src: "{{ geckodriver.dest }}"
    dest: ~/.local/bin/
    remote_src: true
