---
- name: Install additional packages
  ansible.builtin.dnf:
    name:
      - dconf-editor
      - deluge-gtk
      - gimp
      - python3-psutil # For dconf
  become: true

- name: Chrome
  ansible.builtin.import_tasks: chrome.yaml

- name: Disable Bluetooth
  ansible.builtin.command: rfkill block bluetooth

- name: Configure GNOME Dash favorite apps
  community.general.dconf:
    key: /org/gnome/shell/favorite-apps
    value: >-
      ['org.mozilla.firefox.desktop',
      'org.gnome.Terminal.desktop',
      'emacsclient.desktop',
      'org.gnome.Nautilus.desktop',
      'org.gnome.Rhythmbox3.desktop']

- name: Tweak GNOME configuration
  community.general.dconf:
    key: "{{ item.key }}"
    value: "{{ item.value }}"
  loop:
    - key: /org/gnome/desktop/background/primary-color
      value: "'#5f5f5f'"
    - key: /org/gnome/desktop/background/secondary-color
      value: "'#000000'"
    - key: /org/gnome/desktop/background/picture-options
      value: "'none'"
    - key: /org/gnome/desktop/interface/clock-format
      value: "'12h'"
    - key: /org/gnome/desktop/peripherals/touchpad/click-method
      value: "'areas'"
    - key: /org/gnome/mutter/workspaces-only-on-primary
      value: "false"
    - key: /org/gnome/settings-daemon/plugins/color/night-light-enabled
      value: "true"
