---
- name: Install git tools
  ansible.builtin.dnf:
    name:
      - gh
      - meld
  become: true

- name: Install git-sync-upstream
  ansible.builtin.pip:
    name: git-sync-upstream==1.0.5
    extra_args: --user

- name: Copy dot files
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "~/.{{ item }}"
    mode: "0664"
  loop:
    - gitconfig
    - gitignore
    - ignore
    - ripgreprc

- name: Create ~/.bashrc.d directory
  ansible.builtin.file:
    path: ~/.bashrc.d
    state: directory
    mode: "0775"

- name: Copy bashrc scripts
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "~/.bashrc.d/{{ item }}"
    mode: "0664"
  loop:
    - ripgrep.sh
    - scripts.sh
