---
- name: Install gh-cli YUM repository
  ansible.builtin.command:
    cmd: dnf config-manager --add-repo https://cli.github.com/packages/rpm/gh-cli.repo
    creates: /etc/yum.repos.d/gh-cli.repo
  become: true

- name: Install gh-cli
  ansible.builtin.dnf:
    name: gh
  become: true
