---
- name: Create SSH conf.d directory
  ansible.builtin.file:
    path: ~/.ssh/conf.d
    state: directory
    mode: "0700"

- name: Write SSH config
  ansible.builtin.copy:
    src: ssh/
    dest: ~/.ssh/
    mode: "0600"

- name: Check host keys
  ansible.builtin.command: "ssh-keygen -F {{ item }}"
  loop: "{{ ssh_hosts }}"
  register: check_host_keys
  ignore_errors: true
  changed_when: false

- name: Gather host keys
  ansible.builtin.command: "ssh-keyscan {{ item.item }}"
  loop: "{{ check_host_keys.results }}"
  when: item.failed
  register: host_keys
  ignore_errors: true

- name: Add host keys to known_hosts
  ansible.builtin.known_hosts:
    name: "{{ item.item.item }}"
    key: "{{ item.stdout }}"
  loop: "{{ host_keys.results }}"
  when: not (item.get('skipped', False) or item.get('failed', False))
