---
- name: Reload systemd
  ansible.builtin.systemd:
    scope: user
    daemon_reload: true

- name: Restart Emacs daemon
  ansible.builtin.systemd:
    name: emacs
    scope: user
    state: restarted
