---
- name: Install Emacs
  ansible.builtin.dnf:
    name:
      - emacs
      - emacs-gtk+x11
      - levien-inconsolata-fonts
      - mozilla-fira-fonts-common
      - mozilla-fira-mono-fonts
      - mozilla-fira-sans-fonts
      - nodejs-bash-language-server
      - ripgrep
  become: true
  notify: Restart Emacs daemon

- name: Emacs configuration
  ansible.builtin.git:
    repo: git@github.com:jdufresne/emacs-init.git
    dest: ~/.emacs.d
    version: main
  notify: Restart Emacs daemon

- name: Override emacs.service
  ansible.builtin.template:
    dest: ~/.config/systemd/user/emacs.service.d/
    src: override.conf
    mode: "0664"
  notify:
    - Reload systemd
    - Restart Emacs daemon

- name: Install Emacs client desktop file
  ansible.builtin.copy:
    dest: ~/.local/share/applications/
    src: emacsclient.desktop
    mode: "0664"

- name: Enable Emacs daemon
  ansible.builtin.systemd:
    name: emacs
    scope: user
    enabled: true
    state: started
