---
- name: Download nvm
  ansible.builtin.get_url:
    url: "https://raw.githubusercontent.com/nvm-sh/nvm/{{ nvm_version }}/install.sh"
    dest: "{{ cache_dir }}/nvm-{{ nvm_version }}.sh"
    mode: "0600"
  register: nvm_download

- name: Create ~/.bashrc.d/nvm.sh
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.bashrc.d/nvm.sh"
    state: touch
    mode: "0664"

- name: Intall nvm
  ansible.builtin.command:
    argv:
      - sh
      - "{{ nvm_download.dest }}"
  environment:
    PROFILE: "{{ ansible_env.HOME }}/.bashrc.d/nvm.sh"

- name: Install Node.js versions
  ansible.builtin.shell:
    cmd: |
      export NVM_DIR=${HOME}/.nvm
      . ${NVM_DIR}/nvm.sh
      nvm install {{ item }}
  loop: "{{ node_versions }}"

- name: Configure npm
  ansible.builtin.copy:
    src: npmrc
    dest: ~/.npmrc
    mode: "0600"

- name: Copy bashrc script
  ansible.builtin.copy:
    src: nvm-auto.sh
    dest: ~/.bashrc.d/
    mode: "0664"
