---
- name: Create common directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0775"
  loop:
    - "{{ cache_dir }}"
    - ~/.local/bin

- name: Install Ansible Dependencies
  ansible.builtin.dnf:
    name:
      - python3-jmespath
      - python3-pip
  become: true
