---
- name: Install Ruby
  ansible.builtin.dnf:
    name:
      - ImageMagick
      - ImageMagick-devel
      - libsass
      - libsass-devel
      - libyaml-devel
      - potrace
      - readline-devel
      - ruby
      - ruby-devel
      - rubygem-bundler
      - rubygem-irb
  become: true

- name: Create Bundler directory
  ansible.builtin.file:
    path: ~/.bundle
    state: directory
    mode: "0775"

- name: Copy Bundler configuration
  ansible.builtin.copy:
    src: bundle.config
    dest: ~/.bundle/config
    mode: "0664"

- name: Download chruby
  ansible.builtin.get_url:
    url: "https://github.com/postmodern/chruby/archive/v{{ chruby_version }}.tar.gz"
    dest: "{{ cache_dir }}/chruby-{{ chruby_version }}.tar.gz"
    mode: "0600"
  register: chruby_download

- name: Unpack chruby archive
  ansible.builtin.unarchive:
    src: "{{ chruby_download.dest }}"
    dest: "{{ cache_dir }}"
    creates: "{{ cache_dir }}/chruby-{{ chruby_version }}"

- name: Install chruby
  community.general.make:
    target: install
    chdir: "{{ cache_dir }}/chruby-{{ chruby_version }}"
  become: true

- name: Download ruby-install
  ansible.builtin.get_url:
    url: "https://github.com/postmodern/ruby-install/archive/v{{ ruby_install_version }}.tar.gz"
    dest: "{{ cache_dir }}/ruby-install-{{ ruby_install_version }}.tar.gz"
    mode: "0600"
  register: ruby_install_download

- name: Unpack ruby-install archive
  ansible.builtin.unarchive:
    src: "{{ ruby_install_download.dest }}"
    dest: "{{ cache_dir }}"
    creates: "{{ cache_dir }}/ruby-install-{{ ruby_install_version }}"

- name: Install ruby-install
  community.general.make:
    target: install
    chdir: "{{ cache_dir }}/ruby-install-{{ ruby_install_version }}"
  become: true

- name: Install Ruby versions
  ansible.builtin.command:
    cmd: "ruby-install --no-install-deps --src-dir {{ cache_dir }}/rubies ruby {{ item }}"
    creates: "~/.rubies/ruby-{{ item }}"
  loop: "{{ ruby_versions }}"

- name: Copy bashrc script
  ansible.builtin.copy:
    src: chruby.sh
    dest: ~/.bashrc.d/
    mode: "0664"

- name: Copy ruby-version
  ansible.builtin.template:
    src: ruby-version
    dest: ~/.ruby-version
    mode: "0664"
